[IMAGE] -> superposer traits vecteur à photo ET/OU montrer étapes peinture ?

0 - Facultativement : couvrir toile avec couleur transparente diluée correspondant à la teinte moyenne du modèle
cela peut faciliter la recherche des valeurs et donner un fond de peinture qui permet au pinceau de mieux circuler.

1- placement

Les conseils qui suivent sont valables pour un modèle éclairé de façon classique; dans le cas contraire il faut s'adapter à la situation et prendre comme repères les interfaces ombre / lumière.
avec un pinceau de taille moyenne et une peinture fluide transparente (transparent red oxyde ou alizarin crimson, la couleur importe peu), 
	- dessiner un trait horizontal correspondant à la délimitation des cheveux sur le front (si la délimitation des cheveux la plus haute n'est pas floue on peut utiliser cela) [IMAGE]
	- dessiner un trait horizontal correspondant au bas du menton [IMAGE]
	- dessiner un trait correspondant à l'axe haut-bas du portrait; il sera plus ou moins oblique en fonction de l'inclinaison du modèle [IMAGE]
jusqu'ici aucune erreur de proportion ne peut être faite; par contre le placement du portrait sur la toile est à priori désormais figé.
pour la suite, il faut fonctionner comme un scanner qui cherche l'emplacement par essai / erreur en oscillant autour de la solution optimale [GIF !]
cela me semble aussi précis qu'une mesure de comparaison, vu les erreurs accumulées de la prise de mesure à bout de bras et du report sur la toile
De plus cette phase de placement ne saurait être parfaite, il y aura sans doute des corrections à effectuer par la suite. Il s'agit juste de rentrer dans une marge d'erreur qui nous permet d'associer ce que l'on voit à ce que l'on fait, et ce le plus tôt possible.

	- sur ce dernier axe figurer un trait horizontal correspondant à la base du nez; s'il y a une ombre sous le nez (comme c'est souvent le cas) considérer la délimitation entre l'ombre 	et la lumière sur la partie haute de la lèvre (?) [IMAGE]
	- figurer un trait horizontal correspondant à une ligne imaginaire reposant sur les deux sourcils [IMAGE]
	- chercher les deux axes verticaux correspondant aux côtés du visage [IMAGE]
	- chercher par extension le cou
	- chercher grossièrement la limite haute des cheveux
	- chercher grossièrement axe bouche; La bouche peut être complexe à placer car partie molle, mal définie d'un visage; chercher lors du placement la partie la plus nettement 
	définie de la bouche
	- les yeux : ne pas s'y attarder, naturellement le regard est attiré par le regard. Le préciser trop dès le début crée une lecture trop 'humaine' (voir conseil général sur la 	déshumanisition du modèle) ; on peut avec une brosse de taille suffisamment grande créer des rectangles de peinture correspondant aux pupilles afin de se rassurer sur les 	proportions de l'ébauche

Lors de cette ébauche il faut rester sur des traits droits afin d'obtenir une structure polygonale. Ne pas faire de courbes, qui sont plus difficiles à saisir.
Tout le temps prendre du recul afin d'évaluer la globalité de la peinture.
Une tenue du pinceau au bout [IMAGE] permet de facilement faire des traits droits.

On peut également d'ores et déjà peindre quelques masses avec la couleur de l'ébauche, afin de vérifier le bon placement des traits de structure.

A partir de là on doit constamment corriger le dessin (c'est à dire le placement des formes colorée) en tâche de fond


1BIS - placement alternatif

Si l'on veut mettre en avant la composition il peut être plus simple de débuter par un marquage global approximatif.
On indique l'emplacement voulu du haut de la tête, des épaules, du reste du corps s'il y lieu.
On a alors une bonne idée de la composition future.
Il faut ensuite préciser sa peinture en essayant de respecter ces contraintes.

2 - chercher plus sombre / plus clair [IMAGE peinture]

Ces zones permettront de chercher ensuite par comparaison les valeurs des zones intermédiaires

On procède ensuite du plus sombre au plus clair jusqu'au recouvrement complet de la toile (?)

2BIS - alternative : couvrir les tons moyens les plus massifs

On se base alors sur ces tons pour déterminer les plus clairs et les plus sombres. (Sargent)

3 - première couche sans blanc [IMAGE peinture]

Du général vers le particulier : les grandes masses en 1er, en simplifiant.
Rester sombre et transparent : on pourra laisser transparaitre sur le portrait final ces zones sombres / transparentes / ébauchées / touche très visible, afin de maximiser les oppositions qu'y s'y reportent.
Chercher la valeur correcte par comparaison et si possible la couleur dans le sombre
On peut assombrir les valeurs sur la toile en comparaison au modèle afin d'augmenter le constrate avec un fond clair. (design vs réalité)

4 - première couche avec blanc [IMAGE peinture]

Faire les zones claires du portrait. 
Rester pour l'instant dans une semi-opacité afin de garder de la latitude pour la pleine opacité lors des phases suivantes
A l'issue de cette phase le portrait est complètement recouvert.

5 - redéfinition du fond

Redéfinir ici l'interface visage / fond permet de sécuriser le dessin afin de mieux comprendre le rapport modèle / peinture
Attention à conserver des bords de toute nature (aigus <-> flous)
Avoir fait dépassé la chair aux étapes précédente permet de fusionner avec le fond et de créer des bords flous.

6 - poursuivre l'alternance zones sombres / zones claires / redéfinition du fond

Afin de créer une continuité entre sombre et clair, il faudra faire des zones sombres avec un peu de blanc. Ici le blanc de zinc semi-transparent peut être utilisé afin de ne pas complètement opacifier les zones semi-sombres. Sinon diluer le blanc de titane avec un médium.
Toujours corriger par rapport à l'observation, et rester le plus général et simple possible avant de passer à la suite.
Si l'empatement devient trop important, dû aux superpositions de couches de peinture, on peut utiliser un chiffon pour écoper et revenir à une surface repeignable.
Savoir s'arrêter afin de conserver l'opposition précision / ébauché. 

7 -  lumière spéculaire

Travailler les éclats de lumière en pleine opacité; possible utilisation du couteau.
La touche doit être faite en une fois avec un pinceau propre.
Pour un exemple de spéculaire intéressant : https://www.instagram.com/costa_dvorezky
Costa conseille ensuite de gérer les bords du spéculaire avec une brosse propre afin de l'intégrer au reste. 
Il faut trouver le bon ratio de floutage du bord du spéculaire.
Trop flou -> perte d'éclat
Trop net -> spéculaire mal intégré
Touche fine avec transition assez abrupte => sa valeur ne doit pas être trop claire
De couleur froide.
Un spéculaire isolé indique un changement de plan abrupt.
Ces différents plans délimitant le spéculaire changent de couleur.
<img src="assets/images/speculaire.png">


8 - l'éclat dans les yeux

Cela donne de la vie au regard. La touche doit être définitive.
Ne pas le faire avec du blanc pur. On peut utiliser un peu de médium pour ternir la couleur.
Si l'éclat est de très petite surface on peut utiliser l'extrémité du manche du pinceau [IMAGE]
