.affine_transfo_root {
	display: block;
	margin-bottom: 5px;
}

.affine_transfo_emprise_with_margin {
	fill: rgb(100, 100, 100);
}

.affine_transfo_emprise {
	fill: rgb(200, 200, 200);
	pointer-events: none;
}

.affine_transfo_main_group {
	
}

.affine_transfo_text {
	font-size: 0.3px;
	font-family: "Times New Roman";
	pointer-events: none;
	opacity: 0.5;
}

.affine_transfo_line {
	pointer-events: none;
}

.affine_transfo_line_u {
	stroke-width: 0.07;
	opacity: 0.7;
	stroke: rgb(255,0,0);
}

.affine_transfo_line_v {
	stroke-width: 0.07;
	opacity: 0.7;
	stroke: rgb(0,255,0);
}

.affine_transfo_line_u_init {
	stroke-width: 0.04;
	opacity: 0.4;
	stroke: rgb(255,0,0);
}

.affine_transfo_line_v_init {
	stroke-width: 0.04;
	opacity: 0.4;
	stroke: rgb(0,255,0);
}

.affine_transfo_circle_init {
	opacity: 0.5;
	fill-opacity: 0.0;
	stroke: rgb(100,100,100);
	stroke-width: 0.04;
	pointer-events: none;
}

.affine_transfo_circle {
	r: 0.07;
	opacity: 0.8;
}

.affine_transfo_circle:hover {
	r: 0.09;
}
