div {
	margin-left: 40px;
	font-size : 20px;
}

div.folded>div, div.folded>svg {
	display: none;
}

#div_utilities {
	float: right;
}

input {
	width: 60px;
	margin-left: 10px;
	border: 0;
	background-color: rgb(200, 200, 100);
	font-size : 15px;
}

input.long-input {
	width: 350px;
}

span {
	background-color: rgb(200, 200, 200);
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

button {
	width: 20px;
	border: 0px;
	font-size : 20px;
	text-align: center;
	padding: 0px;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
}

button.button_utilities {
	width: 60px;
}

button.button_utilities:hover {
	background-color: rgb(250, 250, 50);
}

button.fold-button {
	background-color: rgb(200, 100, 200);
}

button.fold-button:hover {
	background-color: rgb(250, 150, 250);
}

button.randomize-button {
	background-color: rgb(100, 200, 200);
	/*margin-right: 10px;*/
}

button.randomize-button:hover {
	background-color: rgb(150, 250, 250);
}

button.add-button {
	background-color: rgb(150, 200, 120);
}

button.add-button:hover {
	background-color: rgb(200, 250, 170);
}

button.remove-button {
	background-color: rgb(150, 120, 120);
}

button.remove-button:hover {
	background-color: rgb(200, 170, 170);
}
