.polygon_root {
	display: block;
	margin-bottom: 5px;
}

.polygon_emprise {
	fill: rgb(200, 200, 200);
}

.polygon_main_group {
	
}

.polygon_text {
	font-size: 0.03px;
	font-family: "Times New Roman";
	pointer-events: none;
	opacity: 0.5;
}

/* cf https://stackoverflow.com/questions/3846015/flip-svg-coordinate-system
il faut réinverser le transform pour avoir le texte à l'endroit
+ cf get_index_polygon_text_position() faire 1- y ! */
.polygon_index_text {
	font-size: 0.03px;
	font-family: "Times New Roman";
	pointer-events: none;
	opacity: 0.5;
	transform: matrix(1.0, 0.0, 0.0, -1.0, 0.0, 1.0);
}

.polygon_line {
	stroke: rgb(255,0,0);
	stroke-width: 0.02;
	opacity: 0.7;
}

.polygon_line:hover {
	stroke-width: 0.03;
}

.polygon_circle {
	r: 0.01;
	opacity: 0.8;
}

.polygon_circle:hover {
	r: 0.02;
}
