Du général vers le particulier !
Régulièrement reculer
Plisser les yeux
Utiliser des brosses larges
Ne pas hésiter à simplifier. Cela améliore la lecture.

chercher toutes les oppositions :
	- valeur / lumière / contraste
	- saturation
	- opaque / transparent
	- bords bien définis / flous
	- dense / spacieux
	- peint avec précision / ébauché
	- ...

Diriger le regard du lecteur :
Une forte opposition de valeurs, de couleurs ou un bord net attirent l'oeil.

être honnête : ne pas aimer des parties de la toile afin de pouvoir corriger instictivement n'importe quelle partie sans hésitation
rester constamment dans l'observation

La qualité de la touche :
Utiliser les pinceaux les plus larges possibles à chaque étape : privilégier la masse au trait
Sargent (?) : déborder sur chaque touche pour faciliter les transitions; peindre comme les impressionistes.
Etre généreux avec la quantité de peinture surtout dans les clairs, cela crée une richesse lumineuse; lorsque la toile manque de matière cela parait sombre et fade.
Chaque touche doit être ferme et définitive. Il ne faut pas caresser la toile.
