Du général vers le particulier !
Régulièrement reculer
Plisser les yeux
Utiliser des brosses larges
Ne pas hésiter à simplifier. Cela améliore la lecture.
L'ajout de précision se fera graduellement sur les points d'interêt principaux eu début, puis secondaires.

chercher toutes les oppositions :
	- valeur / lumière / contraste
	- couleur saturée / grise
	- opaque / transparent
	- bords bien définis / flous
	- dense / spacieux
	- peint avec précision / ébauché
	- touche rectiligne / courbe
	- ...

Diriger le regard du lecteur :
Une forte opposition de valeurs, de couleurs ou un bord net attirent l'oeil.

être honnête : ne pas aimer des parties de la toile afin de pouvoir corriger instictivement n'importe quelle partie sans hésitation
rester constamment dans l'observation OU changer ce que l'on voit pour diriger le regard. Opposition réalisme / design.

La qualité de la touche : (faire un paragraphe sur la touche ?)

Utiliser les pinceaux les plus larges possibles à chaque étape : privilégier la masse au trait
Sargent (?) : déborder sur chaque touche pour faciliter les transitions; peindre comme les impressionistes.
Etre généreux avec la quantité de peinture surtout dans les clairs, cela crée une richesse lumineuse; lorsque la toile manque de matière cela parait sombre et fade.
Varier la largeur de la touche au cours de son application; permet de donner une valeur calligraphique et expressive.
Chaque touche doit être ferme et définitive. Il ne faut pas caresser la toile.
OU faire de longs fondus avec des brosses synthétiques le long d'une trajectoire courbe indiquant le volume.
On peut redonner de la force et repréciser le dessin en redéfinissant avec de petites touches plus sombres.
Faire des touches longues, pas trop de petites touches.
