Les limites entre masses colorées voisines. Elles peuvent être floues ou nettes.
Si la peinture doit être mise en pause pour plusieurs jours, flouter les bords qui ne seront pas définitifs.
L'exagération de l'opposition bords nets / flous permet de créer des effets photographiques comme une profondeur de champ importante, où seule une zone de faible surface sera nette.

Le fond peut être d'un gris froid afin de faire ressortir le visage à priori de couleurs plutôt chaudes.
On peut faire déborder le fond sur le portrait afin de mieux l'intégrer.
Faire un truc spécial sur le fond ?
