S'obtient par mélange à partir des couleurs pures.
si difficulté observation couleur, regarder à côté
On peut griser une couleur soit en y ajoutant du gris, soit en y ajoutant sa complémentaire [IMAGE nuancier circulaire avec trajectoire]
Aux interfaces ombre / lumière, forcer la saturation [IMAGE physique diffraction lumière]
Cela permet de mettre des couleurs saturées là où parfois globalement les couleurs ne le sont pas, ce qui renforce l'opposition gris / saturé
De plus un trait fin, sombre et peu saturé sur le modèle peut se traduire afin de conserver une uniformité de touche en un trait plus épais, moins sombre et plus saturé.
Cela permet d'ajouter de la couleur tout en restant cohérent avec le modèle. [IMAGE]
