Il faut avoir au moins deux versions de chaque couleur primaire : 
<mat-list>
	<mat-list-item>rouge tendant vers l'orange, rouge tendant vers le violet</mat-list-item>
	<mat-list-item>bleu tendant vers le vert, bleu tendant vers le violet</mat-list-item>
	<mat-list-item>jaune tendant vers le vert, jaune tendant vers l'orange</mat-list-item>
	<mat-list-item>Et du blanc</mat-list-item>
</mat-list>
<mat-divider></mat-divider>
Pas besoin de noir, il s'obtiendra par un mélange; cela permet d'avoir des noirs colorés.
<mat-divider></mat-divider>
Lire sur les tubes les pigments utilisés, la transparence; prendre conscience qu'une même couleur dans 2 marques sera différente. [IMAGE]
<mat-divider></mat-divider>
Exemple de couleurs [IMAGES]:
<mat-list>
	<mat-list-item>transparent red oxyde : équivalent à terre de Sienne mais transparent</mat-list-item>
	<mat-list-item>rouge cadmium clair : rouge orangé opaque</mat-list-item>
	<mat-list-item>alizarin crimson : rouge tendant vers le violet, transparent</mat-list-item>
	<mat-list-item>bleu ultramarine : bleu sombre et chaud, transparent (?)</mat-list-item>
	<mat-list-item>bleu de cobalt : bleu tendant vers le vert, semi-transparent (?)</mat-list-item>
	<mat-list-item>bleu phtalo : bleu neutre foncé, transparent (?)</mat-list-item>
	<mat-list-item>jaune cadmium : jaune chaud, opaque</mat-list-item>
	<mat-list-item>ocre jaune : varie grandement en fonction de la marque, peut être chaud ou froid; opaque (?)</mat-list-item>
	<mat-list-item>blanc de titane : blanc opaque; ici aussi varie avec la marque. J'aime bien la version de Sennelier (?)</mat-list-item>
</mat-list>
