elle est ce qui donne du volume car lumière = volume.
Pour bien l'observer il faut plisser les yeux le plus souvent possible.
[IMAGE] : montrer différents + ou - floutés d'une même image (cf Schmid)
Faire les ombres moins opaques que les lumières permet de donner une impression de volume supplémentaire.
Le rapport de valeurs, comme toutes les oppositions, doit se faire du général vers le particulier. Afin d'avoir une lumière globale cohérente il faut donc dans un 1er temps faire des grandes zones de valeurs cohérentes [IMAGE], puis dans un second temps affiner les valeurs zone par zone.
