body {
	background-color: rgb(230, 230, 230);
}

div {
	margin-left: 40px;
	font-size : 20px;
}

div.folded>div, div.folded>svg {
	display: none;
}

#div_utilities {
	float: right;
}

input, select {
	width: 60px;
	height: 28px;
	border: 0;
	background-color: rgb(200, 200, 100);
	font-size : 15px;
	vertical-align: bottom;
}

input[type=range] {
	height: 15px;
}

input.long-input, select.long-select {
	width: 350px;
}

input:read-only {
	cursor: default;
	outline: none;
}

button {
	width: 20px;
	height: 30px;
	border: 0;
	text-align: center;
	cursor: pointer;
}

button.info-button {
	width: 140px;
}

button.button_utilities {
	width: 100px;
}

button.button_utilities:hover {
	background-color: rgb(250, 250, 50);
}

button.fold-button {
	background-color: rgb(200, 100, 200);
}

button.fold-button:hover {
	background-color: rgb(250, 150, 250);
}

button.randomize-button {
	background-color: rgb(100, 200, 200);
}

button.randomize-button:hover {
	background-color: rgb(150, 250, 250);
}

button.add-button {
	background-color: rgb(150, 200, 120);
}

button.add-button:hover {
	background-color: rgb(200, 250, 170);
}

button.remove-button {
	background-color: rgb(150, 120, 120);
}

button.remove-button:hover {
	background-color: rgb(200, 170, 170);
}

button.info-button {
	background-color: rgb(150, 150, 150);
}

button.info-button:hover {
	background-color: rgb(200, 200, 200);
}
