.timeline_root {
	display: block;
	margin-bottom: 5px;
}

.timeline_emprise_with_margin {
	fill: rgb(100, 100, 100);
}

.timeline_emprise {
	fill: rgb(200, 200, 200);
	pointer-events: none;
}

.timeline_main_group {
	
}

.timeline_text {
	font-size: 0.03px;
	font-family: "Times New Roman";
	pointer-events: none;
	opacity: 0.5;
}

.timeline_line {
	stroke: rgb(255,0,0);
	stroke-width: 0.02;
	opacity: 0.7;
}

.timeline_line:hover {
	stroke-width: 0.03;
}

.timeline_circle {
	r: 0.01;
	opacity: 0.8;
}

.timeline_circle:hover {
	r: 0.02;
}
