Posture : la posture assise donne une impression de plus de précision mais ce n'est pas ce que l'on veut surtout dans les premières phases où l'on doit trouver le mouvement relatif au format de la toile, ce qui est falicité par la posture debout. Il est toujours possible de s'assoir lors des touches délicates, notamment la pose des spéculaires. On peut alors utiliser une baguette ou son avant-bras gauche (si on est droitier) pour poser son bras droit et assurer une plus grande précision.

On peut régulièrement disposer son chevalet à côté du modèle et prendre du recul afin de comparer côte à côte le modèle et la toile. Avoir une vue d'ensemble est important et permet de rester sur l'idée général vers le particulier.

Photographie / modèle vivant :
Utiliser une photo permet de plus facilement s'affranchir de la lecture réfléchie du visage; c'est plus difficile avec un modèle vivant.
Le modèle ne sera pas complètement immobile. Cela force à corriger constamment sa peinture au niveau du dessin, ce qui est une bonne chose.
Se baser sur une photographie de quelqu'un que l'on connait peut poser problème car on recherche la ressemblance immédiatement et cela peut bloquer.
Une photo peut être éditée, ce qui permet de tester des compositions plus originales (visage incomplet...)

Se placer de sorte que l'observation du modèle (ou de la photo) est à la gauche du chevalet lorsque l'on est droitier facilite.

Utiliser une photo :
On peut imprimer la photo et fixer l'impression sur son chevalet.
On peut utiliser un trépied avec un adaptateur [IMAGE] si l'on a une tablette.
On peut utiliser un écran d'ordinateur; il faut veiller à ce que le modèle et la toile soient à peu près au même niveau.

on ne regarde pas le portrait d'une personne mais un assemblage de formes colorées.
-> regarder le modèle ou sa toile dans un miroir (inversion gauche / droite) ou à l'envers (inversion haut / bas) permet de supprimer en partie notre lecture réfléchie d'un visage afin de rester sur une lecture plus plastique.

Si l'on souhaite retoucher une toile déjà peinte, soit travailler dans le frais (le lendemain par exemple la peinture appliquée sera encore modifiable), soit s'assurer qu'au contraire la peinture est complètement sèche, puis appliquer une fine couche d'huile de lin à l'aide d'un tampon sur la zone à modifier avant de peindre.

