<!--
<app-couleur-mat></app-couleur-mat>
<hr>
<app-medium></app-medium>
<hr>
<app-nettoyage></app-nettoyage>
<hr>
<app-palette></app-palette>
<hr>
<app-pinceau></app-pinceau>
<hr>
<app-support></app-support>
-->

<mat-sidenav-container>
	
	<mat-sidenav [(opened)]="sidenav_opened" #sidenav_tools mode="side">
		<mat-nav-list>
			<a *ngFor="let link of links" [routerLink]="link[0]" routerLinkActive="active" ariaCurrentWhenActive="page">
				<mat-list-item>
					<mat-icon mat-list-icon>{{link[2]}}</mat-icon>
					<span>{{link[1]}}</span>
				</mat-list-item>
			</a>
		</mat-nav-list>
	</mat-sidenav>
	
	<mat-sidenav-content>
		<!--<p>Avec le <a routerLink="pinceau">pinceau</a> on effectue un mélange de <a routerLink="couleur-mat">couleurs</a> sur la <a routerLink="palette">palette</a>, que l'on peut diluer avec un <a routerLink="medium">médium</a> et que l'on applique sur un <a routerLink="support">support.</a></p>-->

		<router-outlet></router-outlet>
	</mat-sidenav-content>

</mat-sidenav-container>
