utiliser des pinceaux soies de porc large en langue de chat, avec des poils longs afin d'avoir plus d'expressivité dans la touche, surtout dans les sombre peu opaques.
Les soies de porc permettent d'avoir une brosse plus dynamique, ce qui permet également d'avoir plus d'expressivité, notamment sur les formats plus grands.
Avoir également des brosses larges pour couvrir de grandes surfaces rapidement.
Nettoyer régulièrement ses pinceaux avec du savon [IMAGES]
Faire 2 groupes de pinceaux : ceux pour les sombres (pas de blanc mélangé) et les clairs. Eventuellement utiliser un pinceau uniquement pour le très clair / le très foncé
