<!--<mat-list>
	<mat-list-item>
		<p>utiliser des pinceaux soies de porc large en langue de chat, avec des poils longs afin d'avoir plus d'expressivité dans la touche, surtout dans les sombre peu opaques.</p>
		<img src="assets/images/pinceau.jpg">
	</mat-list-item>
	<mat-list-item>
		<p>Les soies de porc permettent d'avoir une brosse plus dynamique, ce qui permet également d'avoir plus d'expressivité, notamment sur les formats plus grands.</p>
	</mat-list-item>
	<mat-list-item>
		<p>Avoir également des brosses larges pour couvrir de grandes surfaces rapidement.</p>
		<img src="assets/images/brosse.png">
	</mat-list-item>
	<mat-list-item>
		<p>Faire 2 groupes de pinceaux : ceux pour les sombres (pas de blanc mélangé) et les clairs. Eventuellement utiliser un pinceau uniquement pour le très clair / le très foncé</p>
	</mat-list-item>
</mat-list>
-->

<mat-tab-group>
	<mat-tab label="forme">
		<p>utiliser des pinceaux soies de porc large en langue de chat, avec des poils longs afin d'avoir plus d'expressivité dans la touche, surtout dans les sombre peu opaques.</p>
		<img src="assets/images/pinceau.jpg">
	</mat-tab>
	<mat-tab label="poils">
		<p>Les soies de porc permettent d'avoir une brosse plus dynamique, ce qui permet également d'avoir plus d'expressivité, notamment sur les formats plus grands.</p>
	</mat-tab>
	<mat-tab label="taille">
		<p>Avoir également des brosses larges pour couvrir de grandes surfaces rapidement.</p>
		<img src="assets/images/brosse.png">
	</mat-tab>
	<mat-tab label="groupes">
		<p>Faire 2 groupes de pinceaux : ceux pour les sombres (pas de blanc mélangé) et les clairs. Eventuellement utiliser un pinceau uniquement pour le très clair / le très foncé</p>
	</mat-tab>
</mat-tab-group>
