<nav>
	<ul>
	  <li><a routerLink="/intro" routerLinkActive="active" ariaCurrentWhenActive="page">Intro</a></li>
	  <li><a routerLink="/materiaux" routerLinkActive="active" ariaCurrentWhenActive="page">Matériaux</a></li>
	  <li><a routerLink="/installation" routerLinkActive="active" ariaCurrentWhenActive="page">Installation</a></li>
	  <li><a routerLink="/general" routerLinkActive="active" ariaCurrentWhenActive="page">Conseils généraux</a></li>
	  <li><a routerLink="/piliers" routerLinkActive="active" ariaCurrentWhenActive="page">Les 4 piliers</a></li>
	  <li><a routerLink="/deroulement" routerLinkActive="active" ariaCurrentWhenActive="page">Déroulement d'un portrait</a></li>
	  <li><a routerLink="/references" routerLinkActive="active" ariaCurrentWhenActive="page">Références</a></li>
	  <li><a routerLink="/glossaire" routerLinkActive="active" ariaCurrentWhenActive="page">Glossaire</a></li>
	</ul>
</nav>
	
<router-outlet></router-outlet>
