La palette doit être suffisamment grande. En haut on dispose les couleurs pures; il est utile d'être systématique sur la disposition des couleurs afin d'automatiser et d'accéler son utilisation.
J'essaye de créer une logique du plus sombre à gauche au plus clair à droite dans les mélanges sur la palette.
Si on a un médium sous forme solide on peut le disposer sur un côté de la palette.
Il faut être généreux avec la quantité de peinture sur la palette; cela permet d'être généreux et assuré lors de la touche.
