<mat-list>
	<mat-list-item>La palette doit être suffisamment grande</mat-list-item>
	<mat-list-item>En haut on dispose les couleurs pures</mat-list-item>
	<mat-list-item>il est utile d'être systématique sur la disposition des couleurs afin d'automatiser et d'accéler son utilisation</mat-list-item>
	<mat-list-item>Créer une logique du plus sombre à gauche au plus clair à droite dans les mélanges sur la palette</mat-list-item>
	<mat-list-item>Si on a un médium sous forme solide on peut le disposer sur un côté de la palette</mat-list-item>
	<mat-list-item>Il faut être généreux avec la quantité de peinture sur la palette; cela permet d'être généreux et assuré lors de la touche</mat-list-item>
</mat-list>
